<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GroupA-DependencyX-CommandTimeoutInMilliseconds" value="1500" />
    <add key="GroupB-DependencyY-CommandTimeoutInMilliseconds" value="750" />
    <add key="GroupC-DependencyZ-CommandTimeoutInMilliseconds" value="no valid integer" />

    <add key="GroupA-DependencyX-CircuitBreakerForcedOpen" value="true" />
    <add key="GroupB-DependencyY-CircuitBreakerForcedOpen" value="false" />
    <add key="GroupC-DependencyZ-CircuitBreakerForcedOpen" value="no valid boolean" />

    <add key="GroupA-DependencyX-CircuitBreakerForcedClosed" value="true" />
    <add key="GroupB-DependencyY-CircuitBreakerForcedClosed" value="false" />
    <add key="GroupC-DependencyZ-CircuitBreakerForcedClosed" value="no valid boolean" />

    <add key="GroupA-DependencyX-CircuitBreakerErrorThresholdPercentage" value="25" />
    <add key="GroupB-DependencyY-CircuitBreakerErrorThresholdPercentage" value="15" />
    <add key="GroupC-DependencyZ-CircuitBreakerErrorThresholdPercentage" value="no valid integer" />

    <add key="GroupA-DependencyX-CircuitBreakerSleepWindowInMilliseconds" value="6000" />
    <add key="GroupB-DependencyY-CircuitBreakerSleepWindowInMilliseconds" value="7500" />
    <add key="GroupC-DependencyZ-CircuitBreakerSleepWindowInMilliseconds" value="no valid integer" />

    <add key="GroupA-DependencyX-CircuitBreakerRequestVolumeThreshold" value="50000" />
    <add key="GroupB-DependencyY-CircuitBreakerRequestVolumeThreshold" value="45000" />
    <add key="GroupC-DependencyZ-CircuitBreakerRequestVolumeThreshold" value="no valid integer" />

    <add key="GroupA-DependencyX-MetricsHealthSnapshotIntervalInMilliseconds" value="3000" />
    <add key="GroupB-DependencyY-MetricsHealthSnapshotIntervalInMilliseconds" value="1500" />
    <add key="GroupC-DependencyZ-MetricsHealthSnapshotIntervalInMilliseconds" value="no valid integer" />

    <add key="GroupA-DependencyX-MetricsRollingStatisticalWindowInMilliseconds" value="3000" />
    <add key="GroupB-DependencyY-MetricsRollingStatisticalWindowInMilliseconds" value="1500" />
    <add key="GroupC-DependencyZ-MetricsRollingStatisticalWindowInMilliseconds" value="no valid integer" />

    <add key="GroupA-DependencyX-MetricsRollingStatisticalWindowBuckets" value="3000" />
    <add key="GroupB-DependencyY-MetricsRollingStatisticalWindowBuckets" value="1500" />
    <add key="GroupC-DependencyZ-MetricsRollingStatisticalWindowBuckets" value="no valid integer" />

    <add key="GroupA-DependencyX-MetricsRollingPercentileEnabled" value="true" />
    <add key="GroupB-DependencyY-MetricsRollingPercentileEnabled" value="false" />
    <add key="GroupC-DependencyZ-MetricsRollingPercentileEnabled" value="no valid boolean" />

    <add key="GroupA-DependencyX-MetricsRollingPercentileWindowInMilliseconds" value="3000" />
    <add key="GroupB-DependencyY-MetricsRollingPercentileWindowInMilliseconds" value="1500" />
    <add key="GroupC-DependencyZ-MetricsRollingPercentileWindowInMilliseconds" value="no valid integer" />

    <add key="GroupA-DependencyX-MetricsRollingPercentileWindowBuckets" value="3000" />
    <add key="GroupB-DependencyY-MetricsRollingPercentileWindowBuckets" value="1500" />
    <add key="GroupC-DependencyZ-MetricsRollingPercentileWindowBuckets" value="no valid integer" />

    <add key="GroupA-DependencyX-MetricsRollingPercentileBucketSize" value="3000" />
    <add key="GroupB-DependencyY-MetricsRollingPercentileBucketSize" value="1500" />
    <add key="GroupC-DependencyZ-MetricsRollingPercentileBucketSize" value="no valid integer" />

    <add key="GroupA-DependencyX-HystrixCommandEnabled" value="true" />
    <add key="GroupB-DependencyY-HystrixCommandEnabled" value="false" />
    <add key="GroupC-DependencyZ-HystrixCommandEnabled" value="no valid boolean" />  

    <add key="HystrixCommandFactory-ConfigurationServiceImplementation" value="" />    
    <add key="HystrixJsonConfigConfigurationService-BaseLocation" value="http://config.somedomain.com" />
    <add key="HystrixJsonConfigConfigurationService-LocationPattern" value="{0}-{1}.json" />
    <add key="HystrixJsonConfigConfigurationService-PollingIntervalInMilliseconds" value="5000" />
    <add key="HystrixStreamHandler-PollingIntervalInMilliseconds" value="500" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1510.2205" newVersion="4.2.1510.2205" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>